.tilt-active {

  -webkit-animation:
                        Rotate-Bg 1s linear alternate infinite ;
  -moz-animation:
                        Rotate-Bg 1s linear alternate infinite ;
  animation:
                        Rotate-Bg 1s linear alternate infinite ;
}

.cshift-active {

  -webkit-animation:    rinbow 0.5s linear infinite;
  -moz-animation:       rinbow 0.5s linear infinite;
  animation:            rinbow 0.5s linear infinite;
}


@keyframes Rotate-Bg {
  from { transform:rotate(-5deg) ;}
  to { transform:rotate(5deg) ;}
}

@keyframes rinbow  {
  0%  {background-color:#36f9ff;
        background:#36f9ff;}
  25%  {background-color:#fbff37;
  background:#fbff37;}
  50%  {background-color:#ff9900;
  background:#ff9900;}
  75%  {background-color:#ff00fc;
  background:#ff00fc;}
  100%  {background-color:#62f935;
  background-color:#62f935;}


}