{% extends 'layout.html' %}

{% block body %}
<body>
    <section id='two' class='wrapper style2 special'>
        <h2>Hi there, I'm Francis Kang.</h2>
        <h3>Education:</h3>
        <p>Engineering Science, University of Toronto<br>
            Expected Graduation Date: 2018
        </p>
        <p>Mechanical Techniques, George Brown College<br>
            Graduated: 2015
        </p>
        <p>North Toronto Collegiate Institute<br>
            Graduated: 2014
        </p>
        <h3>Skills:</h3>
        <p>Python, Java, C , Verilog<br>
        MATLAB, Solidworks, MasterCAM<br>
        Machining, Welding </p>
        <h3>Stuff I've done:</h3>
        <p><a href='/'>www.toastedsesa.me</a>(Access code is 'potato salad')</p>
        <p><a href='https://www.github.com/hfkang'>My Github</a></p>
        <p><a href="mailto:h.franciskang@gmail.com?Subject=Hello" target="_top">Contact Me</a></p> 
    </section>
</body>
{% endblock %}