<!DOCTYPE HTML>
<html>
    <head> 
        <title>EngSci dkm pls</title>
        <meta charset = "utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/main.css" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff"> 
        <script type="text/javascript" src="/mainanalytics.js" ></script> 
        </head>
    
    <body> 
    {% block body %}
        <section id = "banner"> 
            <h2><a href =http://thecatapi.com/api/images/get?format=src><strong>I can haz room?</strong></a></h2>
        </section>

        <section id = "one" class="wrapper special">
            <a href="/?BA" class="button alt big">BA</a>
            <a href="/?GB" class="button alt big">GB</a>
            <a href="/?SF" class="button alt big">SF</a>
            
            <div class = "inner">
            {% if rooms1 %}     
                <p>These rooms are free in {{b}} on {{ts}}</p>
            
                <ul class="actions">
                    {% for item in rooms1|dictsort %}
                        <li><a href="#" class="button disabled fit">{{item[0]}} : {{item[1]}} hr</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Sorry, no rooms are free right now.</p>
            {% endif %}
                
            {% if rooms2 %}
                <p>These rooms will be free in the next hour</p>
                <ul class="actions">
                    {% for item in rooms2|dictsort %}
                        <li><a href="#" class="button disabled fit">{{item[0]}} : {{item[1]}} hr</a></li> 
                    {% endfor %}
                </ul> 
            {% else %}
                <p>Sorry, no rooms will be free in the next hour</p>
            {% endif %}
                    
                    
        </section>

    {% endblock %}
    </body>
    

</html>
        
