 {% extends 'layout.html' %}

 {% block body %}
    <body style='background-color:#f7f7f7'>
    <section id='three' class='wrapper style2 special'>
        <div class ='inner narrow'>
            <h2>Please login:</h2>
            <form class = 'grid-form' action='/auth' method = 'post'>
                <div class = 'form-control'>
                    <input type='password' name='pswd'>
                </div>
                <div class = 'form-control'>
                    <input type='submit' value='Submit'>
                </div> 
            </form>
        </div> 
    </section></style>
    </body>
{% endblock %}